node_modules/
bundle/
npm-debug.log
build
dist
*.log

.*
!.npmrc
!.yarnrc
!.env.custom
!.env.demo
!.env.production
!.babelrc.js
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitignore
!.gitlab-ci.yml
!.stylelintrc
!.gitkeep

.scannerwork/
.sonar/
.sonar_lock
esreport.json
